@import url("https://fonts.googleapis.com/css2?family=Poppis:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppis', Arial, Helvetica, sans-serif;
}

body {
    background: #d3e1eb;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.corpo {
    background: #fff;
    width: 25vh;
    height: 42vh;
    max-width: 600px;
    border-radius: 4%;
    padding: 50px;
    position: relative; /* Adicionado para que a posição absoluta da imagem seja relativa a este elemento */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}

.corpo img {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 12px; /* Posiciona a imagem no topo do elemento .corpo */
    left: 50%; /* Posiciona a imagem no centro horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição da imagem para o centro */
    width: 35vh;
    border-radius: 4%;
}

.corpo h1 {
    font-size: 13px;
    margin-top: 32vh; /* Ajuste o espaçamento entre a imagem e o texto */
    text-align:center;
    transform: scale(1.4); /* Aumenta a escala do texto em 20% */
}

.corpo p{
    font-size: 10px;
    margin-top: 3vh;
    margin-left:10px;
    text-align:center;
    transform: scale(1.3); /* Aumenta a escala do texto em 20% */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:gray;
}

@media (max-width: 620px) {
    .corpo {
    background: #fff;
    width: 35vh;
    height: 60vh;
    border-radius: 6%;
    padding: 50px;
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
    }
   
    .corpo img {
        top: 20px;
        display: flex; /* Oculta a imagem em telas menores que 600px de largura*/
        width: 44vh;
        height: 45vh;
    }

    .corpo h1 {
        font-size: 18px; /* Ajusta o tamanho do texto para torná-lo mais legível em telas menores */
        margin-top: 42vh;
        font-size: 20px;
        transform: scale(1.1);
    
     }

    .corpo p {
        font-size: 14px; /* Ajusta o tamanho do texto para torná-lo mais legível em telas menores */
        margin-top: 10px; /* Reduz o espaçamento entre o texto e os elementos acima */
        font-size:20 px;
        transform: scale(1.1);
    }
}
